cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
enum34==1.1.6
Flask>=0.12
futures==3.3.0
google-api-core==1.14.3
google-auth==1.6.3
google-cloud>=0.27.0
google-cloud-core>=0.27.1
google-cloud-pubsub>=0.28.3
google-cloud-datastore>=1.3.0
google-cloud-spanner>=0.28.0
google-cloud-storage>=1.4.0
google-cloud-language>=0.31.0
gunicorn>=19.7.1
google-resumable-media==0.4.1
googleapis-common-protos==1.6.0
grpc-google-iam-v1==0.12.3
grpcio==1.24.1
grpcio-gcp>=0.2.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
protobuf==3.10.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
pytz==2019.3
requests==2.22.0
rsa==4.0
six==1.12.0
urllib3==1.25.6
Werkzeug==0.16.0