<div class="spinner" *ngIf="loader">
    <mat-spinner></mat-spinner>
</div>
<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col-md-12">
      <form class="user-form" [formGroup]="userForm" (submit)="submitForm()">
        <div class="form-group">
          <input formControlName="businessEmail" id="businessEmail" type="text" class="form-control"
            placeholder="Business Email">
          <control-messages [control]="userForm.get('businessEmail')"></control-messages>
        </div>
        <div class="form-group mt-10">
          <input type="password" formControlName="password" id="password" class="form-control"
            placeholder="Password">
          <control-messages [control]="userForm.get('password')"></control-messages>
        </div>
        <div class="form-group mt-10">
            <input type="password" formControlName="confirmPassword" id="confirm-password" class="form-control"
              placeholder="Confirm Password">
            <control-messages [control]="userForm.get('confirmPassword')"></control-messages>
        </div>
        <div class="error-message" *ngIf="userForm.hasError('passwordNotMatch')">Passwords do not match</div>
        <div class="text-right modal-confirm-buttons">
          <button [hidden]="this.forceChangePassword" mat-raised-button mat-dialog-close class="cancel-btn">Cancel</button>
          <button type="submit" mat-raised-button class="save-btn" color="primary"
            [disabled]="!userForm.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>
  
  