.modal-confirm-buttons {
	margin-bottom: 4px;
}

.cancel-btn {
	margin-right: 15px;
}

.edit-btn {
	background: #3ea6e4;
}

.error-message {
	color: red;
	font-size: 11px;
	margin-top: 2px;
	display: block;
}