#########################################################
#                       Idea
#########################################################
.idea
*.iml
*.iws
*.ipr


venv
*.csv
*.json

#########################################################
#                     Need for Image
#########################################################
!gce_image/packer.json