*.pyc
.DS_Store

courses/machine_learning/deepdive/03_tensorflow/.ipynb_checkpoints/c_dataset-checkpoint.ipynb
courses/machine_learning/deepdive/03_tensorflow/.ipynb_checkpoints/d_traineval-checkpoint.ipynb
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/checkpoint
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/eval/events.out.tfevents.1521147641.5899058a23d5
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/events.out.tfevents.1521147630.5899058a23d5
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/export/exporter/1521147699/saved_model.pb
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/export/exporter/1521147711/saved_model.pb
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/export/exporter/1521147723/saved_model.pb
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/export/exporter/1521147735/saved_model.pb
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/export/exporter/1521147699/variables/variables.data-00000-of-00001
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/export/exporter/1521147699/variables/variables.index
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/export/exporter/1521147723/variables/variables.data-00000-of-00001
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/export/exporter/1521147735/variables/variables.data-00000-of-00001
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/export/exporter/1521147738/variables/variables.data-00000-of-00001
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/export/exporter/1521147738/saved_model.pb
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/model.ckpt-1760.data-00000-of-00001
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/model.ckpt-1761.data-00000-of-00001
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/model.ckpt-1760.meta
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/model.ckpt-1988.meta
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/model.ckpt-1988.index
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/model.ckpt-2000.data-00000-of-00001
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/model.ckpt-1989.meta
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/model.ckpt-2000.index
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/model.ckpt-1760.index
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/model.ckpt-1761.index
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/model.ckpt-1761.meta
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/graph.pbtxt
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/export/exporter/1521147711/variables/variables.index
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/export/exporter/1521147723/variables/variables.index
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/export/exporter/1521147738/variables/variables.index
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/model.ckpt-1988.data-00000-of-00001
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/model.ckpt-1989.data-00000-of-00001
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/model.ckpt-1989.index
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/export/exporter/1521147735/variables/variables.index
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/export/exporter/1521147711/variables/variables.data-00000-of-00001
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/model.ckpt-2000.meta

# generated files
test.json
courses/machine_learning/feateng/sample/train.csv
courses/machine_learning/feateng/sample/valid.csv

# this file is created by the debug_demo notebook
courses/machine_learning/deepdive/03_tensorflow/debugger.py

# training output dirs
courses/machine_learning/deepdive/03_tensorflow/taxi_trained/

# Rather than specifying checkpoint explictly, use an implicit specification.
.ipynb_checkpoints
