# Requirements for the Dataflow jobs.
# We want to avoid unnecessary dependencies as these dependencies are installed on each
# worker.
astor~=0.7.0
apache-beam[gcp]~=2.8.0
nltk~=3.3.0
oauth2client~=4.1.0
spacy~=2.0.0
tensor2tensor~=1.9.0
pybind11~=2.2.4
