<h3>Register</h3>
<p>
    Register to take a test by filling in your email address and password.
</p>
<div class='form-group'>
    <label class='control-label' for='email'>Email:</label>
    <input class='form-control' type='text' id='email' ng-model='ac.email'>
</div>
<div class='form-group'>
    <label class='control-label' for='password'>Password:</label>
    <input class='form-control' type='password' id='password' ng-model='ac.password'>
</div>
<div class='form-group'>
    <button class='btn btn-primary' ng-click='ac.register()'>Register</button>
</div>