<div class="side-bar side-bar-fixed">
    <div class="side-bar-inner">
        <ul>
            <li>
                <a  href="javascript:void(0)" [routerLinkActive]="['router-link-active']" routerLink="/dashboard"> Dashboard </a>
            </li>
            <li>
                <a href="javascript:void(0)" [routerLinkActive]="['router-link-active']" routerLink="/companies"> Manage Company </a>
            </li>
            <li>
                <a  href="javascript:void(0)" [routerLinkActive]="['router-link-active']" routerLink="/simulations"> Manage Simulations </a>
            </li>
        </ul>
    </div>
</div>