train.csv
eval.csv
training
data
trained
outputdir
vocab.*
*.zip
*.txt.gz
fromcloud
poetry
t2t_data
trained_model
poetrydata.tgz
four_gpus.json
t2t_cmle
tensor2tensor
my-kubeflow
ks_*linux*
mlengine.json
