#########################################################
#                       Java
#########################################################
*.class
*.jar
*.war
*.ear

#########################################################
#                       Scala
#########################################################
# sbt

1_Basic_ETL/solution/project/project/
1_Basic_ETL/solution/project/target/
1_Basic_ETL/solution/target/

3_Batch_Analytics/solution/project/project/
3_Batch_Analytics/solution/project/target/
3_Batch_Analytics/solution/target/

# bloop and metals
.bloop
.bsp

# metals
3_Batch_Analytics/project/metals.sbt
.metals

# vs code
.vscode

# scala 3
.tasty


#########################################################
#                      Eclipse
#########################################################
.project
.classpath
.settings


#########################################################
#                       Idea
#########################################################
*.log
*.iml
*.ipr
*.iws
.idea


#########################################################
#                        OS
#########################################################
Thumbs.db
.DS_Store


#########################################################
#                      Gradle
#########################################################
.gradle
!gradle-wrapper.jar


#########################################################
#                      Maven
#########################################################
3_Batch_Analytics/target


#########################################################
#                      Build
#########################################################
out
build
bin


#########################################################
#                      Other
#########################################################
*.log
*.swp
*.bak
.java-version
.history
.scala_dependencies
.cache-main

#general
*.class
