google-cloud>=0.32.0
google-cloud-core>=0.28.0
google-cloud-pubsub>=0.30.1
google-cloud-spanner>=0.30.0
google-cloud-language>=0.31.0
google-cloud-storage>=1.4.0
gunicorn>=19.7.1
grpcio>=1.24.1
grpcio-gcp>=0.2.0
grpcio-tools>=1.25.0

